/* Fonts ---------------------------------------------------------------------- */

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* Vars --------------------------------------------------------------------- */

:root {
    --color-primary: #333;
    --primary-background-color: #FFF;
    --secondary-background-color: #fafafa;
    --standard-padding: 1.2rem;
    --half-padding: calc(var(--standard-padding) / 2);
    --double-padding: calc(var(--standard-padding) * 2);
    --quadriple-padding: calc(var(--standard-padding) * 4);
    --font-size-small: 0.8rem;
    --font-size-medium: 1rem;
    --font-size-large: 1.2rem;
    --font-size-xlarge: 1.5rem;
    --font-size-xxlarge: 2rem;
    --font-size-xxxlarge: 2.5rem;
    --font-size-xxxxlarge: 3rem;
}

/* General --------------------------------------------------------------------- */

body {
    font-family: "Roboto", sans-serif;
    color: var(--color-primary);
    background-color: var(--secondary-background-color);
}

.width-container {
    max-width: 1200px;
    margin: 0 auto;
}

/* Navbar --------------------------------------------------------------------- */
.navbar {
    background-color: var(--primary-background-color);
}

.navbar-content {
    padding: var(--standard-padding);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar-left {
    display: flex;
    align-items: center;
}

.navbar-logo {
    height: 40px; /* Adjust the height as needed */
    margin-right: var(--half-padding);
    border-radius: 0.5em;
}

.navbar-title {
    font-size: var(--font-size-large);
    font-weight: bold;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar li {
    margin: 0 var(--standard-padding);
}

.navbar a {
    text-decoration: none;
    font-size: var(--font-size-small);
    font-weight: bold;
    color: var(--color-primary);
}

.navbar a:hover {
    text-decoration: underline;
}

/* Hero Section --------------------------------------------------------------------- */
.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: var(--primary-background-color);
    padding-bottom: var(--quadriple-padding);
}

.hero-content {
    padding-top: var(--double-padding);
    max-width: 600px;
}

.hero h1 {
    font-size: var(--font-size-xxxxlarge);
    margin-bottom: 0;
}

.hero p {
    font-size: var(--font-size-xlarge);
    margin-bottom: var(--double-padding);
}

.hero-image {
    margin-top: var(--double-padding);
    width: 90%;
    max-width: 800px;
}

.cta-image {
    transition: transform 0.25s;
}

.cta-image:hover {
    transform: scale(1.05);
    opacity: 1;
}

/* Feature Section --------------------------------------------------------------------- */

.feature {
    background-color: var(--primary-background-color);
    padding: var(--quadriple-padding);
}

.feature:nth-child(odd) {
    background-color: var(--secondary-background-color);
}

.feature-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.feature-image {
    flex: 1;
    padding-right: var(--double-padding);
}

.feature-image img {
    max-width: 100%;
}

.feature-text {
    flex: 1;
}

.feature-text h2 {
    font-size: var(--font-size-xxlarge);
    margin-bottom: var(--half-padding);
}

.feature-text h3 {
    font-size: var(--font-size-xlarge);
    margin-bottom: var(--standard-padding);
    color: var(--color-primary);
}

.feature-text ul {
    list-style-type: none;
    padding: 0;
}

.feature-text li {
    margin: var(--standard-padding) 0;
}

.feature-text li strong {
    font-weight: bold;
}

/* CTA Section --------------------------------------------------------------------- */
.cta-section {
    background-color: var(--secondary-background-color);
    padding: var(--quadriple-padding) 0;
    text-align: center;
}

.cta-content {
    max-width: 800px;
    margin: 0 auto;
}

.cta-content h2 {
    font-size: var(--font-size-xxxlarge);
    margin-bottom: var(--standard-padding);
}

.cta-content p {
    font-size: var(--font-size-large);
    margin-bottom: var(--double-padding);
}

.cta-image {
    transition: transform 0.3s, opacity 0.3s;
}

.cta-image:hover {
    transform: scale(1.05);
    opacity: 1;
}

.cta-link {
    text-decoration: none;
    color: inherit;
    display: inline-block;
}

.cta-link:first-of-type {
    margin-right: var(--standard-padding);
}


/* Other Features Section --------------------------------------------------------------------- */
.other-features {
    background-color: var(--primary-background-color);
    padding: var(--quadriple-padding);
    text-align: center;
}

.other-features-content {
    max-width: 1000px;
    margin: 0 auto;
}

.other-features h2 {
    font-size: var(--font-size-xxxlarge);
    margin-bottom: var(--double-padding);
}

.features-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: var(--standard-padding);
}

.feature-item {
    background-color: var(--secondary-background-color);
    padding: var(--standard-padding);
    border-radius: 0.5rem;
    font-size: var(--font-size-large);
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s;
    flex: 1 1 150px; /* Ensure items are at least 150px wide */
    max-width: 200px; /* Optional: Set a max-width for the items */
}

/* Footer Section --------------------------------------------------------------------- */
.footer {
    background-color: var(--secondary-background-color);
    padding: var(--standard-padding) 0;
    text-align: center;
}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-links {
    list-style-type: none;
    padding: 0;
    margin: 0 0 var(--half-padding) 0;
    display: flex;
    gap: var(--standard-padding);
}

.footer-links li {
    margin: 0;
}

.footer-links a {
    color: var(--color-primary);
    text-decoration: none;
    font-size: var(--font-size-medium);
}

.footer-links a:hover {
    text-decoration: underline;
}

.footer p {
    color: var(--color-primary);
    font-size: var(--font-size-small);
}